.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-menu {
  text-align: left;
}

.App-menu-item {
  padding: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.btn{
     border-radius: 0;
  outline: none;
      padding: .3rem .3rem;

     }
.btn-default {

  outline: none;
  background-color:grey;
}

.btn-default:hover .btn-default:active {
  outline: none;
}
.vr {
     width:2px;
     background-color:#000;
     position:relative;
     top:10;
     bottom:0;
     left:0;
     height:100%;
 }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
